.projectsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #F6FCFC;
  margin-top: 5vh;
}

h2 {
  margin: 0;
}

.ProjectPage {
  display: flex;
  flex-direction: column;
  background-color: #F6FCFC;
  color: black;
  margin: auto;
}

.projectsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  justify-content: space-evenly;
  height: 60vh;
  padding: 5vw 0vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 18vw;
  border: none;
  position: relative;
}

.container p {
  font-size: 1.3vw;
}

.image-Container {
  position: relative;
  width: 18vw;
  border: none;
  margin: 0;
}

.projectImages {
  width: 100%; 
  height: auto; 
  max-height: 100%;
  object-fit: cover;
  border: 0.4vh solid;
  border-image: linear-gradient(to right, #1882FF, #36EBCA);
  border-image-slice: 1;
}

.projectButton {
  display: flex;
  padding-top: 3vw; 
  justify-content: center;
}





  @media (max-width: 768px) {
    .projectsHeader {
      display: flex;
      width: 100%;
      text-align: center;}

    .projectsHeader h1 {
        font-size: 25px;
    }
    .projectsHeader h2{
        font-size: 18px;
    }

    .projectsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 70%;
    }
  
    .container {
      width: 70%; 
    }
  
    .image-Container {
      width: auto;
    }
  
    .container p {
      font-size: 12px;
      margin-bottom: 35px;
    }
  
    .projectButton {
      margin-left: initial;
      justify-content: center;
      align-items: center;
    }

}

  