.owners-Header-Page{
    display: flex;
    justify-content: left;
    align-items: center;
    color:white;
    background-image: url(../../../images/owners/ownersHeader.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    box-sizing: border-box;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  

.ownersHeader{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  text-align: left;
  box-sizing: border-box;
  padding-left: 16vw;
}

.ownersHeader h4{
  font-size: 1vw;
  padding-bottom:1vw;
}
.ownersHeader h1 {
  font-size: 4vw;
  font-weight: bolder;
  margin-bottom: 0;
}
.ownersHeader h3{
  margin-top: 0;
  margin-bottom: 2vw;
  font-size: 1.5vw;
}
.ownersHeader p {
  line-height: 2vw;
}

.ownersHeaderButton {
  margin-top: 2vw;
}

.ownersHeaderCard {
  position: absolute;
  height: 30%;
  left: 60%;
  top: 80%;
}
  




@media screen and (max-width: 768px) {
    
  .ownersHeader{
      text-align: left;
      align-items:left;
      width: 70%;
  }
  .route {
      font-size: 10px;
  }
  .ownersHeader h1{
    font-size: 25px;
  }
    .ownersHeader h3{
    font-size: 15px;
  }
  
  .ownersHeader p {
    line-height: 16px;
    font-size: 12px;
  }

}