.btn{
  position:absolute;
  width: 188px;
  height: 48px;
  color:white;
  font-size: 16px;


border-image:  linear-gradient(to right, #1882FF, #36EBCA);
border-image-slice: 1; 
border-width: 3px;

background-color:transparent;
cursor: pointer;  
bottom: 15%;
left:10%;
transition: background-color 0.3s ease;

 }


.btn:active{
  background-image:radial-gradient(50% 50% at 50% 50%, #4A5358 0%, #353D42 100%)
 }
 
 

.btn:hover {
  font-size: 20px; /* Change font size on hover */
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.btn:hover::before {

border-image:  linear-gradient(to right, #1882FF, #36EBCA);
border-image-slice: 1; 
border-width: 3px;
border-width: 0 3px 3px 0px;

transform: translate(10px, 10px)

}

.btn:active::before {
  border-width: 0; /* Make the second border disappear when the button is active */
}
