

.owners-benefits-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0a253b;
}

.owners-benefits-Container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 10vw;
  padding-bottom: 5vw;
}

.benefitsContainer,
.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 21vw;
}

.benefitsContainer p {
  font-size: 2vh;
  padding-top:2vh;
  margin-bottom:5vh;
}

.imageContainer {
  position: relative;
  border: 0.5vh solid;
  border-image: linear-gradient(to right, #1882FF, #36EBCA);
  border-image-slice: 1;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-label {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@media (max-width: 768px) {
  .owners-benefits-Container {
    flex-direction: column;
    align-items: center;
    padding-top: 5vw;
    padding-bottom: 5vw; 
  }

  .benefitsContainer{
    width: 300px;  
    max-width: none; 

  }
  .imageContainer {
    width:  300px;  
    max-width: none; 
  }

  .benefitsContainer p  {
    width: 300px;
    font-size: 12px;
    margin-bottom:30px;
}
}
 

