.owners-Testimony-Page{
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #F6FCFC;
  color:black;
}
.owners-Testimony-Page h2 {
  padding-bottom:10vh;
}
.owners-Partners-Container {
  display: flex;
  flex-direction: row;
  gap:10vw;
  align-items: center;
}


.ownersTestimonyHeader,
.ownersPartners{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ownersTestimonyHeader{
  width:100vw;
  Padding:10vh;
}

.ownersTestimonyHeader p{
  margin-top:5vh;
}

.ownersTestimonyHeader h1{
  margin-bottom:0vh;
  font-size: 4vw;
  font-weight: bolder;
}



.ownersPartners{
  display:flex;
  flex-direction: column;
  justify-items: center;
  width:10vw;
  padding-bottom:20vh;
}
.ownersPartners p{
  margin:0;
}

.PartnersImage{
  width:100%;
  margin-bottom:1vh;
}

.PartnersImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border:none;
}

@media screen and (max-width: 768px) {

  .owners-Testimony-Page h2{
    font-size: 16px;
  }

  .ownersTestimonyHeader,
  .ownersPartners{
    flex-direction: column; 
  } 
  
  .ownersTestimonyHeader p{
  font-size: 12px;
  margin-bottom: 10px;
  }
  .ownersTestimonyHeader h1{
    font-size: 17px;
    
  }
  .ownersPartners p{
    font-size: 12px;
    padding: 10px;
  }
  
}