.owners-Testimony-Page{
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #F6FCFC;
  color:black;
  padding-bottom:20vh;
}
.owners-Testimony-Page h2 {
  padding-bottom:10vh;
}
.owners-Partners-Container {
  display: flex;
  flex-direction: row;
  gap:10vw;
  align-items: center;
}


.ownersTestimonyHeader,
.ownersPartners{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ownersTestimonyHeader{
  width:100vw;
  Padding:10vh;
}

.ownersTestimonyHeader p{
  margin-top:5vh;
  font-size: 1.3vw;
}

.ownersTestimonyHeader h1{
  margin-bottom:0vh;
  font-size: 4vw;
  font-weight: bolder;
}

.ownersPartners{
  display:flex;
  flex-direction: column;
  justify-items: center;
  width:15vw;
}
.ownersPartners p{
  margin:0;
  font-size: 1.3vw;
}

.PartnersImage{
  width:100%;
  height:8vw;
  margin-bottom:1vh;
}

.PartnersImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border:none;
}


  @media (max-width: 768px) {
    .ownersTestimonyHeader{
      width:70%;
      height:auto;
      text-align: center;
    }
    
   .owners-Partners-Container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width:80%;
      max-width: none; 
    }
    .ownersPartners{
      width:80%;
      max-width: none; 
      height:auto;
    }

    .PartnersImage{
      width:80%;
    }
  
  
  .owners-Testimony-Page h2{
    font-size: 16px;
  }

  .ownersTestimonyHeader p{
  font-size: 12px;
  margin-bottom: 10px;
  }
  .ownersTestimonyHeader h1{
    font-size: 17px;
    
  }
  .ownersPartners p{
    font-size: 12px;
    padding: 10px;
  } 
  
  }
