.contactCard{
    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content: center;
    height: 15vh;
    width: 27vw;
    background-color: white;
    color:black;
    border: 0.7vh solid;
    border-image: linear-gradient(to bottom, darkblue, teal);
    border-image-slice: 1;
    margin:0;
    padding:5vh;
}

@media screen and (max-width: 768px) {
    .contactCard {
      width: 80vw; 
      padding: 3vh; 
    }
  }