.comparison-container {
  display: flex;
  flex-direction: row; 
  color: white;
  text-align: center;
  background: #0a253b;
}

.text-container{
  display: flex;
  flex-direction: column;
  margin-left:10vh;
  width:35vw;
  margin-top:25vh;
}

.text-container h1{
  margin:5vh;
  font-size: 5.0vh;
}
.text-container p{
  text-align: left;
}


.comparison-container li {
  margin-top: 5%;
}

.white-container,
.dark-container {
  width:25vw;

  font-size: 1.2vw;
  font-style: normal;
  font-weight: lighter;
  padding: 2vw;
  border: solid;
  border-width: 0.2vw;
  border-image: linear-gradient(to right, #1882FF, #36EBCA);
  border-image-slice: 1;
  margin-top: 10%;
  margin-bottom: 10%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  /* transition: 0.5s ease-in-out; */
}

.white-container {
  background-image: linear-gradient(180deg, #d9d9d9 0%, rgba(217, 217, 217, 0.00) 100%);
  color: black;
}

.dark-container {
  background-image: linear-gradient(#1fc1c3, #0f0f0f);
  color: white;
}
.comparisonButton {

  display: flex;
  margin-top: 3vw;
  margin-left: auto;
  justify-items: center;
  justify-content: right;
}
