.SolutionsPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #F6FCFC;
}

 .SolutionsHeader {
  color: black;
  text-align: center;
  height: 5vh;
  padding-top:8vh;

}

.solutionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0%;
  height: 80vh;
  width:100vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 52vh;
  max-width: 23vw;
  background: white;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 0.3vh solid;
  border-image: linear-gradient(to bottom, darkblue, teal);
  border-image-slice: 1;
}

.cardsImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  filter: grayscale(100%);
  border:none;
}

.cardContent {
  position: absolute;
  bottom:0;
  left: 0%;
  width: 100%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  margin:0;
}

.cardContent p {
  margin: 1vh;
  text-align: center;
}

.labelText{
  height:10vh;
  
}
.solutionButton {
  display: flex;
  position: relative;
  text-align: center; 
  /* margin-top:2vh; */
}




@media screen and (max-width: 768px) {
  
  .card {
    max-width: 25vw;
    max-width: 35vh;
  }

  .cardContent {
    height: auto; 
  }
  .SolutionButton {
    height: auto; 
  }

}






  




