.SolutionsPage {
  display: flex;
  flex-direction: column;
  background-color: #F6FCFC;
}

 .SolutionsHeader {
  color: black;
  text-align: center;
  padding:10vh;

}

.solutionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0%;
  padding-bottom:20vh;
}

.card {
  background-image: image();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 23vw; 
  background: white;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 0.5vh solid;
  border-image: linear-gradient(to right, #1882FF, #36EBCA);
  border-image-slice: 1;
}

.cardContent {
  position: absolute;
  bottom:0;
  left: 0%;
  width: 100%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  margin:0;
}

.cardContent p {
  margin: 1vh;
  text-align: center;
}

.labelText{
  height:10vh;
  
}
.solutionButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


 @media screen and (max-width: 768px) {

  .solutionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10vh;
  }

  .card {
    width:40vw;
    height:50vw;
  } 
  .cardContent{
    font-size: 12px;
  }
  
  .solutionButton Button {
    margin-left: initial;
    justify-content: center;
    align-items: center;
}
  
} 






  




