
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.navbar {
  position: relative;
  display: flex;
  justify-content:right;
  transition: top 0.3s;
  z-index: 100;
  background-color: black;
  padding: 0 1vw 0 1vw;
  box-sizing: border-box;


}
.arrow {
  font-size: 1vw;
  padding: 0;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo{
  display: flex;
  left: 1vw;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7vw;
  justify-content: center;
  align-items: center;

}
.logo a {
  text-decoration: none;
}
.logo h3 {
  margin:0;
  padding:0;

}
.menu-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 1.5vw;
  color: white;

}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 2vw;
  margin-right: 1vw;
  padding: 0;

}

.nav-link{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.sub-menu{
  list-style-type: none;
  position: absolute;
  background-color: #0A253B;
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: 1.3vw;
  min-width: 11vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;

}

.sub-menu li {
  padding: 1vw;

}
.nav-link:hover, .nav-link span:hover {
  font-weight: bolder;
}

.nav-link:active {
  font-weight: bolder;
}
.sub-menu .nav-link:hover {
  color: white;
}
.sub-menu li:hover{
  background-color: #1d4261;
}

.close-button {
  display: none;
  cursor: pointer;
  color: red;
  font-size: 25px;
  font-weight: bolder;

}

.navbar.hidden {
  top: -50px; 
}

@media screen and (max-width: 768px) {
  .navbar {
      height: 40px;
  }
  .menu-icon {
      display: flex;
      position: absolute;

      
  }
  .logo{
      font-size: 16px;
  }
  .nav-list {
      display: none;
  }
  .nav-list.show{
      display: block;
      top: 100%;
      width: 100%;
      background-color: #000;
      box-sizing: border-box;
      padding: 20px 40px 40px 20px;
      position: absolute;
      left: 0;
      margin-top: 0;
      z-index: 20;
    

  }

  .nav-list .nav-link {
      margin-left: 2vw;
     
  }


  .nav-list.show .sub-menu li{
      margin: 0;
      padding-left: 3vw;
  }

  .sub-menu{
      position: static;
      background-color: transparent;
      
  }

  .close-button {
      display: flex;
  }
  .nav-list li {
      margin: 10px 0;
  }
  .arrow {
      font-size: 12px;

  }
}

/* 
@media (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    width: 100%;
  }

  .nav-list.show {
    display: flex;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .hamburger-menu {
    display: flex;
  }
} */



/* .navbar {
  background-color: #4A5358;
  color: white;
  position: relative;
  display: flex;
  justify-content:right;
  transition: top 0.3s;
  z-index: 100;


}
.arrow {
  font-size: 1vw;
  padding: 0;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo{
  display: flex;
  left: 1vw;
  position: absolute;
}
.logo img {
  width: 10vw;
  object-fit: cover;
}
.menu-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 1.5vw;
  color: white;

}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 2vw;
  margin-right: 1vw;
  padding: 0;

}
.nav-link{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.sub-menu{
  list-style-type: none;
  position: absolute;
  background-color: #0A253B;
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: 1.3vw;
  min-width: 11vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;

}
.sub-menu li {
  padding: 1vw;

}
.nav-link:hover {
  background: linear-gradient(to bottom, #ffffff, #36EBCA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.sub-menu .nav-link:hover {
  color: white;
}
.sub-menu li:hover{
  background-color: #1d4261;
}

.close-button {
  display: none;
  cursor: pointer;
  color: red;

}

.navbar.hidden {
  top: -50px; 
}

@media screen and (max-width: 768px) {
  .navbar {
      background-color: #1d4261;
      height: 40px;
  }
  .menu-icon {
      display: flex;
      position: absolute;

      
  }
  .logo img {
      width: 80px;
  }
  .nav-list {
      display: none;
  }
  .nav-list.show{
      display: block;
      top: 100%;
      width: 100%;
      background-color: #000;
      box-sizing: border-box;
      padding: 20px 40px 40px 20px;
      position: absolute;
      left: 0;
      margin-top: 0;
      z-index: 20;

  }
  .nav-list .nav-link {
      margin-left: 2vw;
  }


  .nav-list.show .sub-menu li{
      margin: 0;
      padding-left: 3vw;
  }

  .sub-menu{
      position: static;
      background-color: transparent;
      
  }

  .close-button {
      display: flex;
  }
  .nav-list li {
      margin: 10px 0;
  }
  .arrow {
      font-size: 12px;

  }

} */