body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.changing-text-container{
  position: relative;
  margin-top: -7vw;
}

.carousel-image {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.changing-text {
  position: absolute;
  bottom: 30%; /* Adjust as needed */
  left: 10%;
  padding: 10px;
  width: 80%; /* Adjust as needed */
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 30px; /* Adjust as needed */
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}


 .herButton{
   top:80%;
   left:10%;
   position:absolute;
  }

  