
.owners-Products-Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #F6FCFC;
  height: 100vh;
  width: 100vw;
  color: black;
}

.owners-Products-Page h1 {
  margin-top: 8vh;
}

.owners-Products-Page p {
  font-size: 1.5vh;
}

.top-Products-Container,
.bottom-Products-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 15vw;
  height: 40vh;
}

.topProducts,
.bottomProducts {
  height: 30vh;
  width: 15vw;
}

.productImage {
  height: 10vh;
  width: 100%;
}

.productImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}
