
.owners-Products-Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #F6FCFC;
  color: black;
  padding-bottom:10vh;
}

.owners-Products-Page h1 {
  padding: 8vh;
}



.top-Products-Container,
.bottom-Products-Container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15vw;
}

.topProducts,
.bottomProducts {
  width: 15vw;
}

.topProducts,
.bottomProducts,
p {
  font-size: 1vw; 
}
.topProducts,
.bottomProducts,
h3 {
  font-size: 1.5vw; 
}

.productImage {
  height: 15vh;
  width: 100%;
}

.productImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

@media (max-width: 768px) {
  .owners-Products-Page h1{
    font-size: 25px;
    text-align: center;
  }

  .top-Products-Container,
  .bottom-Products-Container {
  width:70%;
  }

  .topProducts,
  .bottomProducts,
  h3 {
    font-size: 15px; 
  }
  .topProducts,
  .bottomProducts,
  p {
    font-size: 12px; 
  }
}
  
  



