.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #0a253b;
  padding:2vw 0vw 1vw 0vw; 
} 

.footer-container {
  display: flex;
  flex-direction: row; 
  color: white;
  align-items:top;
  background: #0a253b;
  gap: 10vw;
  padding-left:3vw;
} 

.footer-section1,.footer-section2, .footer-section3{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.footer-section1{
  width:30vw;
  gap:10%;
  margin-right:10vw;
} 
.footer-section1 p{
  font-size:1.3vw;
  margin-top:0;
}


.footer-section1 h2 {
  font-size: 3vw ;
}
.footer-section2 p{
  font-size:1.3vw;
  margin-top:0vw;
}

.footer-section3 p{
  font-size: 1.1vw;
}

.icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:2vw;
}

.copyrightText{
  text-align: center;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
}

a{
  color:white;
}


@media (max-width: 768px) {
    
  .footer-container{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    gap:1vw;
    /* height:50%; */
    width: 60%;
  }
  .footer-section1,.footer-section2, .footer-section3 {
    width: 80%;
    margin:0%;
    height:auto;
  }
  
  .footer-section1 h2 {
    font-size: 25px;
    margin-bottom: 5%;
  }
  .footer-section1 {
    font-display: flex;
    /* gap:3vw; */
  }
  .footer-section2, .footer-section3,
  h3 {
    font-size: 18px;
  }
  .footer-section1
  p {
    font-size: 12px;
  }
  
  .footer-section2
  p {
    font-size: 12px;
  }
  
  .footer-section3
  p {
    font-size: 12px;
  }
  
}

