
   .Blog {
    background-color: #0a253b;
    margin: 0;
    padding-bottom: 5vw;
  }

  .BlogHeader {
    text-align: center;
    padding: 4vw 0vw 2vw 0vw;
  }
  
  .BlogHeader h1 {
    margin-bottom: 5vh;
    margin-top:0;
    font-size: 3vw;
  }
  .BlogHeader h2 {
    margin-bottom: 5vh;
    font-size: 1.8vw;
  }

  .Blog h1,
  .Blog h2,
  .Blog p {
    margin-bottom: 0;
}
  
  .BlogCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    /* padding: 5vw 2vw; */
  }
  
  .BlogContent {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 35vw;
    height:70vh;
    margin:auto;
  }
  .BlogContent p{
    font-size:1.3vw;
  }
  

  .BlogPicture {
    width: 45vw;
    margin-left: 3vw;
    height:60vh;
    border: 0.5vh solid;
    border-image: linear-gradient(to right, #1882FF, #36EBCA);
    border-image-slice: 1;
  }

  .BlogImage {
    width: 100%;
    height: 100%;
    border:none;
  }
  
  .author {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .author p{
    margin:0;
  }
  .LukeImage {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    margin-right: 5vh;
  }

  .blogButton {
    display: flex;
    margin-top: 3vw;
    margin-left: auto;
    justify-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 768px) {
 
    .BlogCard{
      display: flex;
      flex-direction: column; 
      align-items: center;
      gap:3vw;
      height:auto;
    }
  
    .BlogContent {
      width:70%;
      height:auto;
    }
    .BlogPicture{
      width:70%;
      margin:auto;
      height:30vw;
    }
    .BlogHeader h1 {
        font-size: 25px;
    }
    .BlogContent h2{
      font-size: 20px;
    }
    .BlogContent h3 {
      font-size: 15px;
    }
    .BlogContent p {
          font-size: 12px;
    
    }
    
    };
      
  
  
  
  