
.blogOne-container {
    background: linear-gradient(to bottom, #1882FF, #36EBCA); 
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5vw;
}
.blogOne {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1px;
    box-sizing: border-box;

}

.blogOne-text {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2vw 6vw 0vw 6vw;
    box-sizing: border-box;
    flex: 0.5;
}
.blogOne-title h2{
    margin-bottom: 2vw;
}
.blogOne-description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogOne-description p{
    font-size: 1.2vw;
    margin-top: 0;
    margin-bottom: 0;
}

.blogOne-date-button {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 4vw;
    width: 100%;
    padding-top: 4vw;
    box-sizing: border-box;
}
.blogOne-date-button p {
    font-size: 1.2vw;
}
.blogOne-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    
    height: 25vw;
}
.blogOne-pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

@media screen and (max-width: 768px) {
    .blogOne-container {
        width: 90%;

    }
    .blogOne {
        flex-direction: column;
        margin: 0.9px;
    }
    .blogOne-text {
        padding: 10px;

    }
    .blogOne-date-button p {
        font-size: 12px;
    }
    .blogOne-pic{
        width: 100%;
        /* margin-top: 30px; */
    }
    .blogOne-pic img {
        height: 200px;
    }

    .blogOne-title h2{
        font-size: 16px;
        padding-top: 16px;
        box-sizing: border-box;
    }
    .blogOne-description p{
        font-size: 12px;
    }
}