@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
 /* *{
  border:solid red;
} */

body{
  font-family: 'Montserrat', sans-serif;
  font-size:1.2vw;
  color:white;
  background-color: #F6FCFC;
}
h1 {
  font-size: 3vw;
  font-weight: bold;
}