
.ownerServicesPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #0a253b;
}

.servicesHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  margin-top: 4vh;
  position: relative;
}

.servicesHeader h1 {
  margin-left: 3vw;
}

.servicesContainer {
  display: flex;
  flex-direction: row;
  padding: 5vh;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 65vw;
  height: 70vh;
  position: relative;
}

h3 {
  margin-top: 0;
}

p {
  margin: 0;
}

.services {
  margin-right: 10vh;
}

.services p {
  margin-bottom: 15%;
}

.serviceImageContainer {
  height: 60vh;
  width: auto;
  margin-top: 3vh;
}

.serviceImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ServicesButton {
  padding: 4%;
  position: relative;
  margin-right: 15vh;
  width: 5%;
}

.ServicesButton Button {
  width: 100%;
  height: 30%;
  left: 0%;
  top: 35%;
  position: absolute;
}
